@use "../abstract/" as *;

.header {
  position: relative;
  &-wrap {
    display: grid;
    grid-template-columns: 1fr min-content;
    grid-template-rows: 1fr 1fr;
    width: $webWidth;
    margin-inline: auto;
    padding-top: 10rem;
  }
}