@use "../abstract/" as *;

.btn-archive {
  display: inline-flex;
  align-items: center;
  font-size: 1.4rem;
  font-weight: 500;
  gap: 0.4rem;
  &::before {
    content: "";
    width: 2rem;
    aspect-ratio: 1;
    @include background("ico_archive.svg", center, null, size, contain);
  }
}

.btn-calendar {
  display: inline-flex;
  align-items: center;
  font-size: 1.4rem;
  font-weight: 500;
  gap: 0.4rem;
  &::before {
    content: "";
    width: 2rem;
    aspect-ratio: 1;
    @include background("ico_archive.svg", center, null, size, contain);
  }
}