@use "sass:list";

.familysite {
  $colors : orange, tomato, violet, skyblue, silver;

  display: flex;
  gap: 2rem;
  
  li {
    transition: color 0.3s;
    @each $color in $colors {
      $index: list.index($colors, $color);
      // @debug $index;
      &:nth-child(#{$index}):hover {
        color: $color;
      }
    }
  }

  a {
    font-size: 4rem;
    font-weight: 800;
  }
}