@use "../abstract/" as *;

.search {
  position: absolute;
  top: 10rem;
  width: $webWidth;
  height: 10rem;
  padding: 0 0 4rem;
  align-content: center;
  border: none;
  border-bottom: 1px solid #000;
  form {
    display: grid;
    grid-template-columns: 1fr min-content;
    input[type="search"] {
      border: none;
      height: 5rem;
      font-size: 5rem;
      font-weight: 900;
      outline: none;;
    }
  }
}